.button {
font-size: 24px;
padding: 15px 40px;
border-radius: 12px;
border: 2px solid #4CAF50;
transition-duration: 0.4s;
background-color:yellowgreen;
}



.new-button{
font-size: 24px;
padding: 15px 40px;
border-radius: 12px;
border: 2px solid #4CAF50;
transition-duration: 0.4s;
background-color:violet;
transition: all 0.5s ease-out;
}


.new-icon{
   color: antiquewhite;
   transition: all 0.5s ease-out;
}



.new-align{
    color: white;
}